header .header__text h1 {
  color: #202222;
  font-weight: 500;
}

body {
  font-family: "Share Tech", sans-serif;
  background-color: #e7f0ef;
}

header {
  width: 100%;
  display: grid;
  padding: 20px 20px;
  box-sizing: border-box;
  justify-content: space-evenly;
  grid-template-columns: 1fr 1fr 500px;
  gap: 10px;
}
@media screen and (max-width: 800px) {
  header {
    flex-direction: row;
    max-width: 60%;
  }
}
header img {
  width: 300px;
  border-radius: 50px;
}
@media screen and (max-width: 800px) {
  header img {
    width: 120px;
  }
}
header .header__text {
  color: black;
}
@media screen and (max-width: 800px) {
  header .header__text {
    display: none;
  }
}
@media screen and (max-width: 60rem) {
  header .header__text {
    display: none;
  }
}
header .header__text h1 {
  font-size: 50px;
  text-align: justify;
  padding: 0 30px;
  font-family: "Share Tech", sans-serif;
  font-weight: 800;
  color: #6bd1eb;
  padding: 40px 40px;
}
header .header__text h2 {
  font-size: 30px;
  font-family: "Share Tech", sans-serif;
  padding: 20px 20px;
  text-align: justify;
}
header .header__links {
  padding: 10px 10px;
  align-items: self-start;
  font-size: 25px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media screen and (max-width: 800px) {
  header .header__links {
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
}
@media screen and (max-width: 60rem) {
  header .header__links {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
  }
}

main .bodyimg_main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 40px 0px;
  box-sizing: border-box;
  gap: 20px;
}
main .bodyimg_main img {
  width: 450px;
}
@media screen and (max-width: 800px) {
  main .bodyimg_main img {
    width: 350px;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 60rem) {
  main .bodyimg_main img {
    width: 350px;
    display: flex;
    flex-direction: column;
  }
}
main h2 {
  font-family: "Share Tech", sans-serif;
  font-size: 40px;
  text-align: center;
}
main p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: center;
  font-size: 20px;
}

.info__boxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-family: "Share Tech", sans-serif;
  justify-content: space-evenly;
  padding: 20px 40px;
  align-items: center;
  color: aliceblue;
  box-sizing: border-box;
  text-align: center;
  padding: 10px 10px;
  gap: 15px;
}
@media screen and (max-width: 800px) {
  .info__boxes {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 60rem) {
  .info__boxes {
    display: flex;
    flex-direction: column;
  }
}

div {
  border-radius: 50px;
  padding: 20px 20px;
  width: 250px;
  height: 250px;
  justify-content: space-between;
  gap: 20px;
}

.ecommerce {
  background-color: #1c81d3;
}

.cargo {
  background-color: #994242;
}

.customs {
  background-color: #568647;
}

.parcel {
  background-color: #b3bd28;
}

.slogan__middle {
  text-align: center;
}
.slogan__middle h1 {
  font-family: "Share Tech", sans-serif;
  font-size: 70px;
  color: black;
}

.h1-nosotros {
  color: rgb(14, 26, 32);
  text-align: justify;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}

.h2-nosotros {
  text-align: center;
  font-family: "Share Tech", sans-serif;
  color: #4d95e7;
  font-size: 30px;
}

.track_h1 {
  font-family: "Inter", sans-serif;
  font-size: 30px;
}

nav a:hover {
  color: #6bd1eb;
  transform: scale(1.9);
}

.header__contactinfo {
  display: flex;
  gap: 20px;
  padding: 10px 10px;
}

.contact_info {
  font-family: "Inter", sans-serif;
  text-decoration: none;
  text-align: justify;
  align-items: center;
}

.track_btn {
  border-radius: 10px;
  background-color: #dbd6d3;
  color: black;
  border-style: none;
  width: 150px;
  height: 30px;
  font-family: "Share Tech", sans-serif;
  font-size: 20px;
}

.track_btn:hover {
  background: #4d95e7;
  cursor: pointer;
}

textarea {
  width: 600px;
  height: 60px;
}

fieldset {
  font-size: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.track__fields {
  width: 200px;
  height: 100px;
}/*# sourceMappingURL=main.css.map */